.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.commentContainer {
  display: flex;
  width: 100%;
  
}

.commentProfileImage {
  border-radius: 50%;
  margin-right: 20px;
}

.commentContent {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.commentDate {
  color: gray;
  font-size: 12px;
}

.commentHeader {
  display: flex;
  align-items: center;
}

.commentDateSeparator {
  margin: 0px 5px;  
}

.commentorName {
  color:#3d3d3d;
  font-size: 14px;
}

.addCommentBox {
  margin-bottom: 30px;
}

.emailInput {
  height: 30px;
}

.formControlLabel {
  font-size: 16px;
}

.commentTextArea {
  width: 100%;
  height: 100px;
}

.commentSubmitButton {
  background-color: black;
  border-color: black;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
}